@import '../../less/global/site.variable';

body {
  background-color: #eef0f3;
}

.my {
  position: relative;

  .avatar {
    position: relative;
    background-color: @c_blue_2;
    padding-top: 15px;
    padding-bottom: 15px;

    > a {
      display: block;
      width: 140px;
      height: 140px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 140px;
      border: 10px solid #8c8fa0;
      overflow: hidden;
      background-color: #f2f2f2;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .vip-score-link {
    display: block;
  }

  .vip-score {
    background-color: #e6e5e5;
    padding-top: 6px;
    padding-bottom: 6px;

    li {
      text-align: center;
      color: @c_black;
      border-right: 1px solid #cfcfcf;

      &:last-child {
        border-right: none;
      }

      span, b {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: normal;
      }

      span {
        margin-right: 10px;
      }


      &.vip {
        > * {
          display: inline-block;
          vertical-align: middle;
        }
        
        b {
          color: @c_yellow;
        }
      }

      &.score b {
        color: @c_green;
      }
    }
  }

  .btns {
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: #eef0f3;

    > .btn {
      margin-bottom: 10px;
    }

    .sigin-btn:disabled {
      background-color: @c_lightGrey_1;
    }

    .line {
      background-color: #eef0f3;
      border-width: 2px;
      box-sizing: border-box;
      line-height: 42px;
    }
  }
}
