@import '../../../less/global/site.variable';

body {
  background-color: @c_lightGrey;
}

.member-search {
  .form {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid @c_lightGrey_4;

    .field {
      margin-bottom: 0;

      .control {
        height: 30px;
        font-size: 14px;
      }
    }
  }
}
