@import '../../less/global/site.variable';

.header {
  background-color: @c_blue_1;
  color: @white;
  height: 50px;
  text-align: center;

  > * {
    vertical-align: middle;
    font-size: 1.75rem;
  }
}
