@import '../../../less/global/site.variable';

  .my-profile {
    background-color: @c_lightGrey_4;
    position: relative;
    padding: 5px;
    margin-bottom: 8px;
    overflow: hidden;

    .avatar {
      float: left;
      width: 39px;
      height: 39px;
      background-position: center center;
      background-size: contain;
      margin-right: 10px;
    }

    .profile {
      overflow: hidden;

      p {
        margin-bottom: 0;
      }
    }

    .my {
      font-size: 16/12rem;
      color: @lightBlack;

      .vip-level {
        color: @c_lightYellow_2;
        padding-left: 12px;
      }
    }

    .intro {
      font-size: 14px;
      color: @c_grey_1;
    }

    .icon {
      position: absolute;
      top: 5px;
      right: 15px;
    }
  }