@import '../global/site.variable';

// .form {
//   .control {
//     @padding: 10px;
//     margin-bottom: 10px;
//     position: relative;
//
//     textarea {
//       width: 100%;
//       padding: @padding;
//       border-color: @c_lightGrey;
//       border-radius: 5px;
//     }
//
//     input {
//       width: 100%;
//       border: 1px solid @c_lightGrey;
//       border-radius: 3px;
//       padding: @padding;
//     }
//
//     .char-count {
//       position: absolute;
//       bottom: @padding;
//       right: @padding;
//       color: @c_grey;
//     }
//   }
// }

.btn {
  @padding: 10px 15px;
  @borderRadius: 3px;

  display: inline-block;
  // padding: @padding;
  height: 44px;
  line-height: 44px;
  padding: 0;
  border-radius: @borderRadius;
  background-color: none;
  border: none;
  font-size: 1.5rem;
  outline: none;

  &.block {
    display: block;
    width: 100%;
  }

  &.red {
    background-color: @c_red;
    color: @white;
  }

  &.line {
    border: 2px solid @c_blue_3;
    background-color: @white;
    color: @c_blue_3;
  }

  &:disabled {
    background-color: @lightGrey;
    color: @white;
  }
}
