@import '../global/site.variable';
@import '../../less/global/util.less';

.form {
  padding: 30px 15px;

  .field {
    @radius: 3px;
    @bgColor: @white;
    // placeholder color
    @phColor: @c_grey;
    @padding: 13px;
    @inputH: 44px;
    @marginBottom: 5px;
    @fontSize: 16 / 12rem;

    .input_placeholder(@phColor);
    .textarea_placeholder(@phColor);

    position: relative;
    margin-bottom: @marginBottom;

    .icon {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translate(0, -50%);
    }

    .control {
      width: 100%;
      border-radius: @radius;
      background-color: @bgColor;
      border: none;
      font-size: @fontSize;
    }

    input, textarea {
      padding: @padding;
    }
  }
}

.blockBtn(@color) {
  background-color: @color;
  color: @white;
}

.lineBtn(@color) {
  border: 1px solid @color;
  color: @color;
}

.btn {
  @padding: 10px 15px;
  @borderRadius: 3px;

  display: inline-block;
  // padding: @padding;
  height: 44px;
  line-height: 44px;
  padding: 0;
  border-radius: @borderRadius;
  background-color: none;
  border: none;
  font-size: 1.5rem;
  outline: none;

  &.block {
    display: block;
    width: 100%;
    text-align: center;

    &.red {
      .blockBtn(@c_red);
    }

    &.purple {
      .blockBtn(@c_lightPurple);
    }

    &.blue {
      .blockBtn(@c_blue_1);
    }

    &.lightBlue {
      .blockBtn(@c_blue_3);
    }

    &.offBlue {
      .blockBtn(@c_lightBlue);
    }

    &.green {
      .blockBtn(@c_green);
    }

    &.lightBlack {
      .blockBtn(@c_lightBlack_2);
    }
  }

  &.line {
    display: block;
    width: 100%;
    background-color: @white;

    &.blue {
      .lineBtn(@c_blue_3);
    }

    &.green {
      .lineBtn(@c_lightGreen_2);
    }
  }

  &:disabled {
    background-color: @c_lightGrey_1;
    color: @white;
  }
}
