@import '../global/site.variable';
@import './icon-util.less';

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.size(@size) {
  width: @size;
  height: @size;
}

.icon {
  display: inline-block;
  vertical-align: middle;

  & + span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3px;
  }

  &.icon-dot {
    .dot(10px, @orange);
  }

  &.icon-del-dot {
    .dot(25px, @orange);
    border: 1px solid @white;
    text-align: center;
    line-height: 25px;

    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 10px;
      height: 2px;
      background-color: @white;
    }
  }

  &.icon-minus {
    .minus();
  }

  &.icon-spread {
    display: inline-block;
    vertical-align: middle;

    .arrow(8px, 2px, -135deg, @grey);

    &.white {
      .arrow(8px, 2px, -135deg, @white);
    }
  }

  &.icon-close {
    display: inline-block;

    &:before {
      width: 40px;
      height: 40px;
      line-height: 35px;
      border-radius: 40px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      border: 2px solid @white;
      content: 'x';
      font-size: 1.8rem;
      color: @white;
    }
  }

  &.icon-loading {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-left: 2px solid @c_blue_1;
    border-top: 2px solid @lightGrey;
    border-bottom: 2px solid @lightGrey;
    border-right: 2px solid @lightGrey;
    border-radius: 40px;
    animation-duration: .8s;
    animation-name: loading;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0;
  }

  &.icon-mail,
  &.icon-plus,
  &.icon-biz-card,
  &.icon-address-book,
  &.icon-account,
  &.icon-success,
  &.icon-error,
  &.icon-phone,
  &.icon-key,
  &.icon-left-arrow,
  &.icon-more,
  &.icon-li,
  &.icon-lock,
  &.icon-weixin,
  &.icon-pengyouquan,
  &.icon-qq,
  &.icon-qzone {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &.s44 {
    .size(44px);
  }

  &.s32 {
    .size(32px);
  }

  &.s30 {
    .size(30px);
  }

  &.s20 {
    .size(20px);
  }

  &.s22 {
    .size(22px);
  }

  &.s15 {
    .size(15px);
  }

  &.s12 {
    .size(12px);
  }

  &.s11 {
    .size(11px);
  }

  &.icon-plus {
    background-image: url('../../img/nav_more@3x.png');
  }
  &.icon-mail {
    width: 22px;
    height: 18px;
    background-image: url('../../img/nav_mail@3x.png');
  }
  &.icon-biz-card {
    background-image: url('../../img/tab_card@3x.png');
  }
  &.icon-address-book {
    background-image: url('../../img/tab_address@3x.png');
  }
  &.icon-account {
    background-image: url('../../img/tab_my_pre@3x.png');
  }
  &.icon-success {
    background-image: url('../../img/smile@3x.png');
  }
  &.icon-phone, &.icon-key {
    width: 8px;
    height: 14px;
  }
  &.icon-phone {
    background-image: url('../../img/list_phone@3x.png');
  }
  &.icon-key {
    background-image: url('../../img/list_key@3x.png');
  }
  &.icon-left-arrow {
    width: 16px;
    height: 22px;
    background-image: url('../../img/zuojiantou@3x.png');
  }
  &.icon-more {
    background-image: url('../../img/gengduo@3x.png');
  }
  &.icon-li {
    background-image: url('../../img/jilu@3x.png');
  }
  &.icon-lock {
    background-image: url('../../img/lock@3x.png');
  }
  &.icon-weixin {
    background-image: url('../../img/weixin@3x.png');
  }
  &.icon-pengyouquan {
    background-image: url('../../img/pengyouquan@3x.png');
  }
  &.icon-qq {
    background-image: url('../../img/qq@3x.png');
  }
  &.icon-qzone {
    background-image: url('../../img/kongjian@3x.png');
  }
}
