@import '../../less/global/site.variable';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @c_blue_1;
  color: @white;
  height: 50px;
  text-align: center;
  z-index: 15;

  > * {
    vertical-align: middle;
  }

  .left, .right {
    width: 10%;
  }

  .left {
    position: relative;

    > a {
      display: block;
    }

    > .icon-dot {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }

  .center {
    width: 60%;
    font-size: 1.75rem;
    color: #f6f6f6;
  }

  .right {
    position: relative;
  }

  .actions {
    position: absolute;
    top: 50px;
    right: 15px;
    width: 90px;
    background-color: @c_blue_1;
    z-index: 20;

    li {
      text-align: center;
      border-bottom: 1px solid @black;
      height: 40px;
      line-height: 40px;

      a {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        color: @white;
      }

      &:first-child {
        border-top: 1px solid @black;
      }
    }
  }
}
