@import '../../less/global/site.variable';

.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: @offWhite;
  border-top: 1px solid @lightGrey;

  .menu {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    color: @lightBlack;
    vertical-align: middle;
  }
}
