@import '../../../less/global/site.variable';

.biz-card-group {
  display: block;
  background-color: @white;
  color: @c_lightBlack;
  border-bottom: 1px solid @c_lightGrey_4;

  &:last-child {
    border-bottom: none;
  }

  a {
    color: @c_lightBlack;
  }


  &.opened {
    border-bottom: none;
  }

  .group {
    padding: 10px;
  }

  font-size: 17px;

  .ab-group, .people-num {
    vertical-align: middle;
  }

  .people-num {
    color: @c_lightGrey_7;
    text-align: right;
    font-size: 15px;
  }

  .icon-right-triangle {
    margin-right: 10px;
  }

  .icon-manage {
    margin-right: 8px;
  }
}
